{% capture collectionTagHTML %}
    {% assign collectionTAG = block.settings.collection %}

    {%- for collection in product.collections -%}
        {%- if collectionTAG == collection -%}

        <label class="collection-tag__label" style="background-color: {{ block.settings.bg }}; color: {{ block.settings.font }};">
            {{ block.settings.prefix }} {{ collection.title }}{{ block.settings.suffix }}
        </label>
        {%- endif -%}
    {%- endfor -%}
{% endcapture %}

{% if block.settings.customer_only %}
    {% if customer %}
        {{ collectionTagHTML }}
    {% endif %}
{% else %}
    {{ collectionTagHTML }}
{% endif %}

<style>
    .collection-tag__label {
        padding: 5px 20px;
        border-radius: 20px;
    }
</style>